out/Hobby.jar
out/Taschenrechner.exe
out/Taschenrechner.json
out/jre/NOTICE
out/jre/release
out/jre/bin/api-ms-win-core-console-l1-1-0.dll
out/jre/bin/api-ms-win-core-console-l1-2-0.dll
out/jre/bin/api-ms-win-core-datetime-l1-1-0.dll
out/jre/bin/api-ms-win-core-debug-l1-1-0.dll
out/jre/bin/api-ms-win-core-errorhandling-l1-1-0.dll
out/jre/bin/api-ms-win-core-fibers-l1-1-0.dll
out/jre/bin/api-ms-win-core-file-l1-1-0.dll
out/jre/bin/api-ms-win-core-file-l1-2-0.dll
out/jre/bin/api-ms-win-core-file-l2-1-0.dll
out/jre/bin/api-ms-win-core-handle-l1-1-0.dll
out/jre/bin/api-ms-win-core-heap-l1-1-0.dll
out/jre/bin/api-ms-win-core-interlocked-l1-1-0.dll
out/jre/bin/api-ms-win-core-libraryloader-l1-1-0.dll
out/jre/bin/api-ms-win-core-localization-l1-2-0.dll
out/jre/bin/api-ms-win-core-memory-l1-1-0.dll
out/jre/bin/api-ms-win-core-namedpipe-l1-1-0.dll
out/jre/bin/api-ms-win-core-processenvironment-l1-1-0.dll
out/jre/bin/api-ms-win-core-processthreads-l1-1-0.dll
out/jre/bin/api-ms-win-core-processthreads-l1-1-1.dll
out/jre/bin/api-ms-win-core-profile-l1-1-0.dll
out/jre/bin/api-ms-win-core-rtlsupport-l1-1-0.dll
out/jre/bin/api-ms-win-core-string-l1-1-0.dll
out/jre/bin/api-ms-win-core-synch-l1-1-0.dll
out/jre/bin/api-ms-win-core-synch-l1-2-0.dll
out/jre/bin/api-ms-win-core-sysinfo-l1-1-0.dll
out/jre/bin/api-ms-win-core-timezone-l1-1-0.dll
out/jre/bin/api-ms-win-core-util-l1-1-0.dll
out/jre/bin/api-ms-win-crt-conio-l1-1-0.dll
out/jre/bin/api-ms-win-crt-convert-l1-1-0.dll
out/jre/bin/api-ms-win-crt-environment-l1-1-0.dll
out/jre/bin/api-ms-win-crt-filesystem-l1-1-0.dll
out/jre/bin/api-ms-win-crt-heap-l1-1-0.dll
out/jre/bin/api-ms-win-crt-locale-l1-1-0.dll
out/jre/bin/api-ms-win-crt-math-l1-1-0.dll
out/jre/bin/api-ms-win-crt-multibyte-l1-1-0.dll
out/jre/bin/api-ms-win-crt-private-l1-1-0.dll
out/jre/bin/api-ms-win-crt-process-l1-1-0.dll
out/jre/bin/api-ms-win-crt-runtime-l1-1-0.dll
out/jre/bin/api-ms-win-crt-stdio-l1-1-0.dll
out/jre/bin/api-ms-win-crt-string-l1-1-0.dll
out/jre/bin/api-ms-win-crt-time-l1-1-0.dll
out/jre/bin/api-ms-win-crt-utility-l1-1-0.dll
out/jre/bin/attach.dll
out/jre/bin/awt.dll
out/jre/bin/dt_shmem.dll
out/jre/bin/dt_socket.dll
out/jre/bin/extnet.dll
out/jre/bin/fontmanager.dll
out/jre/bin/freetype.dll
out/jre/bin/instrument.dll
out/jre/bin/j2gss.dll
out/jre/bin/j2pcsc.dll
out/jre/bin/j2pkcs11.dll
out/jre/bin/jaas.dll
out/jre/bin/jabswitch.exe
out/jre/bin/jaccessinspector.exe
out/jre/bin/jaccesswalker.exe
out/jre/bin/jar.exe
out/jre/bin/jarsigner.exe
out/jre/bin/java.dll
out/jre/bin/java.exe
out/jre/bin/javaaccessbridge.dll
out/jre/bin/javac.exe
out/jre/bin/javadoc.exe
out/jre/bin/javajpeg.dll
out/jre/bin/javap.exe
out/jre/bin/javaw.exe
out/jre/bin/jawt.dll
out/jre/bin/jcmd.exe
out/jre/bin/jconsole.exe
out/jre/bin/jdb.exe
out/jre/bin/jdeprscan.exe
out/jre/bin/jdeps.exe
out/jre/bin/jdwp.dll
out/jre/bin/jfr.exe
out/jre/bin/jhsdb.exe
out/jre/bin/jimage.dll
out/jre/bin/jimage.exe
out/jre/bin/jinfo.exe
out/jre/bin/jli.dll
out/jre/bin/jlink.exe
out/jre/bin/jmap.exe
out/jre/bin/jmod.exe
out/jre/bin/jpackage.dll
out/jre/bin/jpackage.exe
out/jre/bin/jps.exe
out/jre/bin/jrunscript.exe
out/jre/bin/jshell.exe
out/jre/bin/jsound.dll
out/jre/bin/jstack.exe
out/jre/bin/jstat.exe
out/jre/bin/jstatd.exe
out/jre/bin/jsvml.dll
out/jre/bin/jwebserver.exe
out/jre/bin/keytool.exe
out/jre/bin/kinit.exe
out/jre/bin/klist.exe
out/jre/bin/ktab.exe
out/jre/bin/lcms.dll
out/jre/bin/le.dll
out/jre/bin/management_agent.dll
out/jre/bin/management_ext.dll
out/jre/bin/management.dll
out/jre/bin/mlib_image.dll
out/jre/bin/msvcp140.dll
out/jre/bin/net.dll
out/jre/bin/nio.dll
out/jre/bin/prefs.dll
out/jre/bin/rmi.dll
out/jre/bin/rmiregistry.exe
out/jre/bin/saproc.dll
out/jre/bin/serialver.exe
out/jre/bin/splashscreen.dll
out/jre/bin/sspi_bridge.dll
out/jre/bin/sunmscapi.dll
out/jre/bin/syslookup.dll
out/jre/bin/ucrtbase.dll
out/jre/bin/vcruntime140_1.dll
out/jre/bin/vcruntime140.dll
out/jre/bin/verify.dll
out/jre/bin/w2k_lsa_auth.dll
out/jre/bin/windowsaccessbridge-64.dll
out/jre/bin/zip.dll
out/jre/bin/server/classes_nocoops.jsa
out/jre/bin/server/classes.jsa
out/jre/bin/server/jvm.dll
out/jre/conf/jaxp.properties
out/jre/conf/logging.properties
out/jre/conf/net.properties
out/jre/conf/sound.properties
out/jre/conf/management/jmxremote.access
out/jre/conf/management/jmxremote.password.template
out/jre/conf/management/management.properties
out/jre/conf/security/java.policy
out/jre/conf/security/java.security
out/jre/conf/security/policy/README.txt
out/jre/conf/security/policy/limited/default_local.policy
out/jre/conf/security/policy/limited/default_US_export.policy
out/jre/conf/security/policy/limited/exempt_local.policy
out/jre/conf/security/policy/unlimited/default_local.policy
out/jre/conf/security/policy/unlimited/default_US_export.policy
out/jre/include/classfile_constants.h
out/jre/include/jawt.h
out/jre/include/jdwpTransport.h
out/jre/include/jni.h
out/jre/include/jvmti.h
out/jre/include/jvmticmlr.h
out/jre/include/win32/jawt_md.h
out/jre/include/win32/jni_md.h
out/jre/include/win32/bridge/AccessBridgeCallbacks.h
out/jre/include/win32/bridge/AccessBridgeCalls.h
out/jre/include/win32/bridge/AccessBridgePackages.h
out/jre/jmods/java.base.jmod
out/jre/jmods/java.compiler.jmod
out/jre/jmods/java.datatransfer.jmod
out/jre/jmods/java.desktop.jmod
out/jre/jmods/java.instrument.jmod
out/jre/jmods/java.logging.jmod
out/jre/jmods/java.management.jmod
out/jre/jmods/java.management.rmi.jmod
out/jre/jmods/java.naming.jmod
out/jre/jmods/java.net.http.jmod
out/jre/jmods/java.prefs.jmod
out/jre/jmods/java.rmi.jmod
out/jre/jmods/java.scripting.jmod
out/jre/jmods/java.se.jmod
out/jre/jmods/java.security.jgss.jmod
out/jre/jmods/java.security.sasl.jmod
out/jre/jmods/java.smartcardio.jmod
out/jre/jmods/java.sql.jmod
out/jre/jmods/java.sql.rowset.jmod
out/jre/jmods/java.transaction.xa.jmod
out/jre/jmods/java.xml.crypto.jmod
out/jre/jmods/java.xml.jmod
out/jre/jmods/jdk.accessibility.jmod
out/jre/jmods/jdk.attach.jmod
out/jre/jmods/jdk.charsets.jmod
out/jre/jmods/jdk.compiler.jmod
out/jre/jmods/jdk.crypto.cryptoki.jmod
out/jre/jmods/jdk.crypto.ec.jmod
out/jre/jmods/jdk.crypto.mscapi.jmod
out/jre/jmods/jdk.dynalink.jmod
out/jre/jmods/jdk.editpad.jmod
out/jre/jmods/jdk.hotspot.agent.jmod
out/jre/jmods/jdk.httpserver.jmod
out/jre/jmods/jdk.incubator.vector.jmod
out/jre/jmods/jdk.internal.ed.jmod
out/jre/jmods/jdk.internal.jvmstat.jmod
out/jre/jmods/jdk.internal.le.jmod
out/jre/jmods/jdk.internal.opt.jmod
out/jre/jmods/jdk.internal.vm.ci.jmod
out/jre/jmods/jdk.internal.vm.compiler.jmod
out/jre/jmods/jdk.internal.vm.compiler.management.jmod
out/jre/jmods/jdk.jartool.jmod
out/jre/jmods/jdk.javadoc.jmod
out/jre/jmods/jdk.jcmd.jmod
out/jre/jmods/jdk.jconsole.jmod
out/jre/jmods/jdk.jdeps.jmod
out/jre/jmods/jdk.jdi.jmod
out/jre/jmods/jdk.jdwp.agent.jmod
out/jre/jmods/jdk.jfr.jmod
out/jre/jmods/jdk.jlink.jmod
out/jre/jmods/jdk.jpackage.jmod
out/jre/jmods/jdk.jshell.jmod
out/jre/jmods/jdk.jsobject.jmod
out/jre/jmods/jdk.jstatd.jmod
out/jre/jmods/jdk.localedata.jmod
out/jre/jmods/jdk.management.agent.jmod
out/jre/jmods/jdk.management.jfr.jmod
out/jre/jmods/jdk.management.jmod
out/jre/jmods/jdk.naming.dns.jmod
out/jre/jmods/jdk.naming.rmi.jmod
out/jre/jmods/jdk.net.jmod
out/jre/jmods/jdk.nio.mapmode.jmod
out/jre/jmods/jdk.random.jmod
out/jre/jmods/jdk.sctp.jmod
out/jre/jmods/jdk.security.auth.jmod
out/jre/jmods/jdk.security.jgss.jmod
out/jre/jmods/jdk.unsupported.desktop.jmod
out/jre/jmods/jdk.unsupported.jmod
out/jre/jmods/jdk.xml.dom.jmod
out/jre/jmods/jdk.zipfs.jmod
out/jre/legal/java.base/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.base/aes.md
out/jre/legal/java.base/asm.md
out/jre/legal/java.base/ASSEMBLY_EXCEPTION
out/jre/legal/java.base/c-libutl.md
out/jre/legal/java.base/cldr.md
out/jre/legal/java.base/icu.md
out/jre/legal/java.base/LICENSE
out/jre/legal/java.base/public_suffix.md
out/jre/legal/java.base/siphash.md
out/jre/legal/java.base/unicode.md
out/jre/legal/java.base/wepoll.md
out/jre/legal/java.base/zlib.md
out/jre/legal/java.compiler/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.compiler/ASSEMBLY_EXCEPTION
out/jre/legal/java.compiler/LICENSE
out/jre/legal/java.datatransfer/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.datatransfer/ASSEMBLY_EXCEPTION
out/jre/legal/java.datatransfer/LICENSE
out/jre/legal/java.desktop/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.desktop/ASSEMBLY_EXCEPTION
out/jre/legal/java.desktop/colorimaging.md
out/jre/legal/java.desktop/freetype.md
out/jre/legal/java.desktop/giflib.md
out/jre/legal/java.desktop/harfbuzz.md
out/jre/legal/java.desktop/jpeg.md
out/jre/legal/java.desktop/lcms.md
out/jre/legal/java.desktop/libpng.md
out/jre/legal/java.desktop/LICENSE
out/jre/legal/java.desktop/mesa3d.md
out/jre/legal/java.instrument/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.instrument/ASSEMBLY_EXCEPTION
out/jre/legal/java.instrument/LICENSE
out/jre/legal/java.logging/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.logging/ASSEMBLY_EXCEPTION
out/jre/legal/java.logging/LICENSE
out/jre/legal/java.management/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.management/ASSEMBLY_EXCEPTION
out/jre/legal/java.management/LICENSE
out/jre/legal/java.management.rmi/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.management.rmi/ASSEMBLY_EXCEPTION
out/jre/legal/java.management.rmi/LICENSE
out/jre/legal/java.naming/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.naming/ASSEMBLY_EXCEPTION
out/jre/legal/java.naming/LICENSE
out/jre/legal/java.net.http/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.net.http/ASSEMBLY_EXCEPTION
out/jre/legal/java.net.http/LICENSE
out/jre/legal/java.prefs/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.prefs/ASSEMBLY_EXCEPTION
out/jre/legal/java.prefs/LICENSE
out/jre/legal/java.rmi/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.rmi/ASSEMBLY_EXCEPTION
out/jre/legal/java.rmi/LICENSE
out/jre/legal/java.scripting/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.scripting/ASSEMBLY_EXCEPTION
out/jre/legal/java.scripting/LICENSE
out/jre/legal/java.se/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.se/ASSEMBLY_EXCEPTION
out/jre/legal/java.se/LICENSE
out/jre/legal/java.security.jgss/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.security.jgss/ASSEMBLY_EXCEPTION
out/jre/legal/java.security.jgss/LICENSE
out/jre/legal/java.security.sasl/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.security.sasl/ASSEMBLY_EXCEPTION
out/jre/legal/java.security.sasl/LICENSE
out/jre/legal/java.smartcardio/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.smartcardio/ASSEMBLY_EXCEPTION
out/jre/legal/java.smartcardio/LICENSE
out/jre/legal/java.sql/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.sql/ASSEMBLY_EXCEPTION
out/jre/legal/java.sql/LICENSE
out/jre/legal/java.sql.rowset/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.sql.rowset/ASSEMBLY_EXCEPTION
out/jre/legal/java.sql.rowset/LICENSE
out/jre/legal/java.transaction.xa/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.transaction.xa/ASSEMBLY_EXCEPTION
out/jre/legal/java.transaction.xa/LICENSE
out/jre/legal/java.xml/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.xml/ASSEMBLY_EXCEPTION
out/jre/legal/java.xml/bcel.md
out/jre/legal/java.xml/dom.md
out/jre/legal/java.xml/jcup.md
out/jre/legal/java.xml/LICENSE
out/jre/legal/java.xml/xalan.md
out/jre/legal/java.xml/xerces.md
out/jre/legal/java.xml.crypto/ADDITIONAL_LICENSE_INFO
out/jre/legal/java.xml.crypto/ASSEMBLY_EXCEPTION
out/jre/legal/java.xml.crypto/LICENSE
out/jre/legal/java.xml.crypto/santuario.md
out/jre/legal/jdk.accessibility/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.accessibility/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.accessibility/LICENSE
out/jre/legal/jdk.attach/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.attach/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.attach/LICENSE
out/jre/legal/jdk.charsets/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.charsets/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.charsets/LICENSE
out/jre/legal/jdk.compiler/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.compiler/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.compiler/LICENSE
out/jre/legal/jdk.crypto.cryptoki/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.crypto.cryptoki/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.crypto.cryptoki/LICENSE
out/jre/legal/jdk.crypto.cryptoki/pkcs11cryptotoken.md
out/jre/legal/jdk.crypto.cryptoki/pkcs11wrapper.md
out/jre/legal/jdk.crypto.ec/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.crypto.ec/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.crypto.ec/LICENSE
out/jre/legal/jdk.crypto.mscapi/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.crypto.mscapi/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.crypto.mscapi/LICENSE
out/jre/legal/jdk.dynalink/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.dynalink/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.dynalink/dynalink.md
out/jre/legal/jdk.dynalink/LICENSE
out/jre/legal/jdk.editpad/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.editpad/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.editpad/LICENSE
out/jre/legal/jdk.hotspot.agent/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.hotspot.agent/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.hotspot.agent/LICENSE
out/jre/legal/jdk.httpserver/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.httpserver/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.httpserver/LICENSE
out/jre/legal/jdk.incubator.vector/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.incubator.vector/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.incubator.vector/LICENSE
out/jre/legal/jdk.internal.ed/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.internal.ed/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.internal.ed/LICENSE
out/jre/legal/jdk.internal.jvmstat/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.internal.jvmstat/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.internal.jvmstat/LICENSE
out/jre/legal/jdk.internal.le/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.internal.le/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.internal.le/jline.md
out/jre/legal/jdk.internal.le/LICENSE
out/jre/legal/jdk.internal.opt/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.internal.opt/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.internal.opt/jopt-simple.md
out/jre/legal/jdk.internal.opt/LICENSE
out/jre/legal/jdk.internal.vm.ci/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.internal.vm.ci/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.internal.vm.ci/LICENSE
out/jre/legal/jdk.internal.vm.compiler/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.internal.vm.compiler/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.internal.vm.compiler/LICENSE
out/jre/legal/jdk.internal.vm.compiler.management/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.internal.vm.compiler.management/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.internal.vm.compiler.management/LICENSE
out/jre/legal/jdk.jartool/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.jartool/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.jartool/LICENSE
out/jre/legal/jdk.javadoc/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.javadoc/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.javadoc/jquery.md
out/jre/legal/jdk.javadoc/jqueryUI.md
out/jre/legal/jdk.javadoc/LICENSE
out/jre/legal/jdk.jcmd/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.jcmd/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.jcmd/LICENSE
out/jre/legal/jdk.jconsole/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.jconsole/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.jconsole/LICENSE
out/jre/legal/jdk.jdeps/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.jdeps/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.jdeps/LICENSE
out/jre/legal/jdk.jdi/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.jdi/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.jdi/LICENSE
out/jre/legal/jdk.jdwp.agent/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.jdwp.agent/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.jdwp.agent/LICENSE
out/jre/legal/jdk.jfr/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.jfr/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.jfr/LICENSE
out/jre/legal/jdk.jlink/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.jlink/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.jlink/LICENSE
out/jre/legal/jdk.jpackage/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.jpackage/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.jpackage/LICENSE
out/jre/legal/jdk.jshell/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.jshell/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.jshell/LICENSE
out/jre/legal/jdk.jsobject/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.jsobject/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.jsobject/LICENSE
out/jre/legal/jdk.jstatd/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.jstatd/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.jstatd/LICENSE
out/jre/legal/jdk.localedata/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.localedata/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.localedata/cldr.md
out/jre/legal/jdk.localedata/LICENSE
out/jre/legal/jdk.localedata/thaidict.md
out/jre/legal/jdk.management/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.management/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.management/LICENSE
out/jre/legal/jdk.management.agent/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.management.agent/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.management.agent/LICENSE
out/jre/legal/jdk.management.jfr/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.management.jfr/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.management.jfr/LICENSE
out/jre/legal/jdk.naming.dns/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.naming.dns/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.naming.dns/LICENSE
out/jre/legal/jdk.naming.rmi/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.naming.rmi/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.naming.rmi/LICENSE
out/jre/legal/jdk.net/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.net/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.net/LICENSE
out/jre/legal/jdk.nio.mapmode/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.nio.mapmode/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.nio.mapmode/LICENSE
out/jre/legal/jdk.random/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.random/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.random/LICENSE
out/jre/legal/jdk.sctp/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.sctp/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.sctp/LICENSE
out/jre/legal/jdk.security.auth/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.security.auth/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.security.auth/LICENSE
out/jre/legal/jdk.security.jgss/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.security.jgss/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.security.jgss/LICENSE
out/jre/legal/jdk.unsupported/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.unsupported/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.unsupported/LICENSE
out/jre/legal/jdk.unsupported.desktop/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.unsupported.desktop/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.unsupported.desktop/LICENSE
out/jre/legal/jdk.xml.dom/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.xml.dom/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.xml.dom/LICENSE
out/jre/legal/jdk.zipfs/ADDITIONAL_LICENSE_INFO
out/jre/legal/jdk.zipfs/ASSEMBLY_EXCEPTION
out/jre/legal/jdk.zipfs/LICENSE
out/jre/lib/classlist
out/jre/lib/ct.sym
out/jre/lib/fontconfig.bfc
out/jre/lib/fontconfig.properties.src
out/jre/lib/jawt.lib
out/jre/lib/jrt-fs.jar
out/jre/lib/jvm.cfg
out/jre/lib/jvm.lib
out/jre/lib/modules
out/jre/lib/psfont.properties.ja
out/jre/lib/psfontj2d.properties
out/jre/lib/src.zip
out/jre/lib/tzdb.dat
out/jre/lib/tzmappings
out/jre/lib/jfr/default.jfc
out/jre/lib/jfr/profile.jfc
out/jre/lib/security/blocked.certs
out/jre/lib/security/cacerts
out/jre/lib/security/default.policy
out/jre/lib/security/public_suffix_list.dat
Hobby.jar
Taschenrechner.exe
